<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="bg-purple-600 pr-11 p-3">
      <ul class="flex justify-end text-white">
        <li class="p-3">Home</li>
        <li class="p-3">Pages</li>
        <li class="p-3">Section</li>
        <li class="p-3">Docs</li>
        <button class="bg-yellow-300 m-1 p-3 rounded-lg text-black">
          Buy Now
        </button>
      </ul>
    </nav>
  </body>
</html>
